<a href="https://colab.research.google.com/github/tanogeor/newrepo/blob/master/askisi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Read the file in python

In [3]:
with open('data.csv', 'r') as file:
    ls = file.readlines()
    ls = [row.split(',') for row in ls]

In [4]:
for i in range(len(ls)):
    ls[i][13] = ls[i][13].replace('\n','')

In [5]:
for j in range(len(ls[i])):
  for i in range(len(ls)):
    ls[i][j] = (float(ls[i][j]))

2. Answer the following questions

  2.1 Rows of the dataset

In [6]:
len(ls)

178

2.2 Columns of the dataset

In [7]:
len(ls[0])

14

3. Compute the mean of each column

In [8]:
sum = list(range(len(ls[1])))

for j in range(len(ls[i])):
  for i in range(len(ls)):
    sum[j] = sum[j] + ls[i][j]

mean = list(range(len(sum)))

for i in range(len(sum)):
  mean[i] = sum[i]/(len(ls))
  print('Mean of column number:{} is {}'.format(i,mean[i]))

Mean of column number:0 is 1.9382022471910112
Mean of column number:1 is 13.006235955056173
Mean of column number:2 is 2.347584269662921
Mean of column number:3 is 2.383370786516855
Mean of column number:4 is 19.517415730337078
Mean of column number:5 is 99.76966292134831
Mean of column number:6 is 2.3288202247191014
Mean of column number:7 is 2.068595505617977
Mean of column number:8 is 0.406797752808989
Mean of column number:9 is 1.6414606741573043
Mean of column number:10 is 5.114269657303372
Mean of column number:11 is 1.0192471910112355
Mean of column number:12 is 2.679101123595504
Mean of column number:13 is 746.9662921348314

4. Compute the variance of each column

In [9]:
# Compute the variance of each column
var = list(range(len(ls[1])))
x = list(range(len(ls)))

for j in range(len(ls[i])): # 14 στήλες
  for i in range(len(ls)):  # 178 γραμμές
    x[i] = ((ls[i][j] - mean[j])**2)
    sum[j] = sum[j] + x[i]
  var[j] = sum[j] / len(ls)
  print('Variance of column number:{} is {}'.format(j,var[j]))

Variance of column number:0 is 2.5355068804443874
Variance of column number:1 is 13.661627247190998
Variance of column number:2 is 3.588714597273071
Variance of column number:3 is 2.4584966418381504
Variance of column number:4 is 30.607951331902527
Variance of column number:5 is 302.61377982577926
Variance of column number:6 is 2.7194454772124708
Variance of column number:7 is 3.0622555390733504
Variance of column number:8 is 0.42421931889913106
Variance of column number:9 is 1.9697714177502854
Variance of column number:10 is 10.461681672083076
Variance of column number:11 is 1.0750176029541738
Variance of column number:12 is 3.1849004671127337
Variance of column number:13 is 99356.57259184448

5. Compute the median of each column

In [10]:
for i in range(len(ls)):
  print(ls[i][1])

14.23
13.2
13.16
14.37
13.24
14.2
14.39
14.06
14.83
13.86
14.1
14.12
13.75
14.75
14.38
13.63
14.3
13.83
14.19
13.64
14.06
12.93
13.71
12.85
13.5
13.05
13.39
13.3
13.87
14.02
13.73
13.58
13.68
13.76
13.51
13.48
13.28
13.05
13.07
14.22
13.56
13.41
13.88
13.24
13.05
14.21
14.38
13.9
14.1
13.94
13.05
13.83
13.82
13.77
13.74
13.56
14.22
13.29
13.72
12.37
12.33
12.64
13.67
12.37
12.17
12.37
13.11
12.37
13.34
12.21
12.29
13.86
13.49
12.99
11.96
11.66
13.03
11.84
12.33
12.7
12.0
12.72
12.08
13.05
11.84
12.67
12.16
11.65
11.64
12.08
12.08
12.0
12.69
12.29
11.62
12.47
11.81
12.29
12.37
12.29
12.08
12.6
12.34
11.82
12.51
12.42
12.25
12.72
12.22
11.61
11.46
12.52
11.76
11.41
12.08
11.03
11.82
12.42
12.77
12.0
11.45
11.56
12.42
13.05
11.87
12.07
12.43
11.79
12.37
12.04
12.86
12.88
12.81
12.7
12.51
12.6
12.25
12.53
13.49
12.84
12.93
13.36
13.52
13.62
12.25
13.16
13.88
12.87
13.32
13.08
13.5
12.79
13.11
13.23
12.58
13.17
13.84
12.45
14.34
13.48
12.36
13.69
12.85
12.96
13.78
13.73
13.45
12.82
13.58
13.4
12.2
12.77
14.16
13.71
13.4
13.27
13.17
14.13

In [11]:
for j in range(len(ls[i])): 
  for i in range(len(ls)): 
      for n in range(i+1, len(ls)): 
        if ls[i][j] < ls[n][j]:
          ls[i][j], ls[n][j] = ls[n][j], ls[i][j]
          
          
#          y = ls[i][j]
 #         ls[i][j] = ls[i-1][j]
  #        ls[i-1][j] = y

In [12]:
for j in range(len(ls[i])): # 14 στήλες
  print('The median of column number:{} is {}'.format(j,ls[89][j]))

The median of column number:0 is 2.0
The median of column number:1 is 13.05
The median of column number:2 is 1.86
The median of column number:3 is 2.36
The median of column number:4 is 19.5
The median of column number:5 is 98.0
The median of column number:6 is 2.35
The median of column number:7 is 2.13
The median of column number:8 is 0.34
The median of column number:9 is 1.55
The median of column number:10 is 4.68
The median of column number:11 is 0.96
The median of column number:12 is 2.78
The median of column number:13 is 672.0